* {
	box-sizing: border-box;
}

.label {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.section-label {
	font-size: 15px;
}

#colors,
#symbols div p,
.section-label,
.tick text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.tick line {
	stroke: white;
}

#charts,
#colors {
	display: flex;
	flex-wrap: wrap;
}

#colors div {
	background-color: #ebebeb;
	color: white;
	flex: 1;
	min-width: 100px;
}

#colors div div {
	height: 100%;
	padding: 5% 0;
	text-align: center;
	text-shadow: 0 0 3px black;
}

#colors div div p {
	margin: 0;
}

#info {
	padding: 0 10vw;
}

#slidecontainer {
	width: 100%;
}

#slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #ebebeb;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #26377c;
	cursor: pointer;
}

#slider::-moz-range-thumb {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #26377c;
	cursor: pointer;
}

#symbols {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#symbols div {
	color: #26377c;
	align-items: center;
	display: flex;
	flex-direction: column;
	min-width: 130px;
	width: 11vw;
}

#symbols div svg {
	height: 80px;
	width: 100%;
}
